.vscode/settings.json
.DS_Store
corpus.txt
test.txt
.idea/Shannon-Game.iml
.idea/Shannon-Game.iml
.idea/encodings.xml
.idea/encodings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
train.txt
test1.txt
train1.txt
1gram_sentenses.txt
ngram_sentenses.txt
test2.txt
train2.txt
train3.txt
